## EDA

In [2]:
df_concept_rel

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
0,35977770,35973310,Mapped from,20200912,20991231,NaN
1,35977770,35977770,Mapped from,20200913,20991231,NaN
2,35977770,35977770,Maps to,20200913,20991231,NaN
3,35977772,35977772,Mapped from,20200913,20991231,NaN
4,35977772,35977772,Maps to,20200913,20991231,NaN
...,...,...,...,...,...,...
60071339,35977746,35977746,Maps to,20200913,20991231,NaN
60071340,35977751,35977751,Mapped from,20200913,20991231,NaN
60071341,35977751,35977751,Maps to,20200913,20991231,NaN
60071342,35977754,35977754,Mapped from,20200913,20991231,NaN
60071343,35977754,35977754,Maps to,20200913,20991231,NaN

In [3]:
df_vocab

,vocabulary_id,vocabulary_name,vocabulary_reference,vocabulary_version,vocabulary_concept_id
0,Episode Type,OMOP Episode Type,OMOP generated,NaN,32542
1,Obs Period Type,OMOP Observation Period Type,OMOP generated,NaN,44819149
2,CIViC,Clinical Interpretation of Variants in Cancer ...,https://github.com/griffithlab/civic-server/bl...,CIViC 2022-10-01,32913
3,OncoKB,Oncology Knowledge Base (MSK),https://www.oncokb.org/,OncoKB v20210502,32999
4,ABMS,Provider Specialty (American Board of Medical ...,http://www.abms.org/member-boards/specialty-su...,2018-06-26 ABMS,45756746
...,...,...,...,...,...
121,MMI,Modernizing Medicine (MMI),MMI proprietary,NaN,581367
122,SMQ,Standardised MedDRA Queries (MSSO),http://www.meddramsso.com/secure/smq/SMQ_Sprea...,Version 14.0,44819121
123,Gender,OMOP Gender,OMOP generated,NaN,44819108
124,GCN_SEQNO,Clinical Formulation ID (FDB),FDB US distribution package,20151119 Release,44819141
125,LOINC,Logical Observation Identifiers Names and Code...,http://loinc.org/downloads/loinc,LOINC 2.75,44819102

In [9]:
df_vocab[df_vocab['vocabulary_id']=='ICD10CM']

,vocabulary_id,vocabulary_name,vocabulary_reference,vocabulary_version,vocabulary_concept_id
13,ICD10CM,"International Classification of Diseases, Tent...",https://www.cdc.gov/nchs/icd/icd-10-cm.htm,ICD10CM FY2023 code descriptions,44819098

In [ ]:
df_concept = pd.read_csv(f'vocab/CONCEPT.csv', sep='\t')

In [4]:
df_concept

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,45756805,Pediatric Cardiology,Provider,ABMS,Physician Specialty,S,OMOP4821938,19700101,20991231,NaN
1,45756804,Pediatric Anesthesiology,Provider,ABMS,Physician Specialty,S,OMOP4821939,19700101,20991231,NaN
2,45756803,Pathology-Anatomic / Pathology-Clinical,Provider,ABMS,Physician Specialty,S,OMOP4821940,19700101,20991231,NaN
3,45756802,Pathology - Pediatric,Provider,ABMS,Physician Specialty,S,OMOP4821941,19700101,20991231,NaN
4,45756801,Pathology - Molecular Genetic,Provider,ABMS,Physician Specialty,S,OMOP4821942,19700101,20991231,NaN
...,...,...,...,...,...,...,...,...,...,...
9154804,2213270,Molecular cytogenetics; chromosomal in situ hy...,Measurement,CPT4,CPT4,S,88272,19700101,20991231,NaN
9154805,45889102,"Bone graft, any donor area",Procedure,CPT4,CPT4 Hierarchy,C,1003752,20141010,20991231,NaN
9154806,2213271,Molecular cytogenetics; chromosomal in situ hy...,Measurement,CPT4,CPT4,S,88273,19700101,20991231,NaN
9154807,2213272,Molecular cytogenetics; interphase in situ hyb...,Measurement,CPT4,CPT4,S,88274,19700101,20991231,NaN
9154808,45889100,"Excision, coccygeal pressure ulcer, with coccy...",Procedure,CPT4,CPT4 Hierarchy,C,1003535,20141010,20991231,NaN

In [10]:
df_concept[df_concept['concept_name']=='Asian']

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
271338,3959336,Asian,Observation,CO-CONNECT,Race,NaN,CC-ETHNICITY-018,20220101,20991231,NaN
1600431,45879439,Asian,Meas Value,LOINC,Answer,S,LA6156-9,19700101,20991231,NaN
2076521,19388613,Asian,Observation,MeSH,Main Heading,NaN,D001213,20230501,20991231,NaN
4333980,44814655,Asian,Observation,PCORNet,Race,NaN,Race-02,19700101,20991231,NaN
4340650,8515,Asian,Race,Race,Race,S,2,19700101,20991231,NaN

In [8]:
df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']=='I21')]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
913681,1569126,Acute myocardial infarction,Condition,ICD10CM,3-char nonbill code,NaN,I21,20120101,20991231,NaN

In [11]:
df_concept[(df_concept['concept_code']=='I21')]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
261763,37605728,Acute myocardial infarction,Condition,CIM10,ICD10 Hierarchy,NaN,I21,20191021,20991231,NaN
889877,45538370,Acute myocardial infarction,Condition,ICD10,ICD10 Hierarchy,NaN,I21,19900501,20991231,NaN
913681,1569126,Acute myocardial infarction,Condition,ICD10CM,3-char nonbill code,NaN,I21,20120101,20991231,NaN
1011692,1413785,Acute myocardial infarction,Condition,ICD10CN,ICD10 Hierarchy,NaN,I21,20160101,20991231,NaN
1039726,37084476,Acute myocardial infarction,Condition,ICD10GM,ICD10 Hierarchy,NaN,I21,20000101,20991231,NaN
1398921,42488360,Acute myocardial infarction,Condition,KCD7,KCD7 code,NaN,I21,20170701,20991231,NaN

In [12]:
df_concept[df_concept['concept_id']==312327]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
7742627,312327,Acute myocardial infarction,Condition,SNOMED,Clinical Finding,S,57054005,20020131,20991231,NaN

In [20]:
df_concept_rel[(df_concept_rel['concept_id_1']==1569126) & (df_concept_rel['relationship_id']=='Maps to')]

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
14316077,1569126,312327,Maps to,20190109,20991231,NaN

In [161]:
df_concept_rel[df_concept_rel['concept_id_1']==2784560]

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
8744963,2784560,4097520,Has dir proc site,19700101,20991231,NaN
18032932,2784560,4045049,Has method,19700101,20991231,NaN
37866853,2784560,2784560,Mapped from,20140422,20991231,NaN
37866854,2784560,2784560,Maps to,20140422,20991231,NaN
37866855,2784560,4075174,Is a,19700101,20991231,NaN
43878018,2784560,4241775,Has proc site,19700101,20991231,NaN
50502222,2784560,4299609,Is a,19700101,20991231,NaN
57142599,2784560,2880040,Is a,20140422,20991231,NaN

In [162]:
df_concept_rel['relationship_id'].unique()

array(['Mapped from', 'Maps to', 'Has status', 'Has Module',
       'Transcribes to', 'Is a', 'Has interprets', 'Has free indicator',
       'Has disc indicator', 'Has non-avail ind', 'Has scale type',
       'Has finding site', 'Has clinical course', 'Has CD category',
       'Is translated from', 'Translates to', 'Is transcribed from',
       'Has dose form', 'Has pathology', 'VMP has prescr stat',
       'Has disposition', 'Concept same_as to', 'Concept poss_eq to',
       'Concept replaced by', 'SPL - RxNorm', 'Plays role',
       'RxNorm - Source eq', 'Constitutes', 'Brand name of',
       'RxNorm has dose form', 'Has tradename', 'RxNorm inverse is a',
       'Has supplier', 'Marketed form of', 'Has marketed form', 'Box of',
       'Available as box', 'Tradename of', 'Quantified form of',
       'Contained in', 'Consists of', 'RxNorm has ing',
       'Has quantified form', 'RxNorm is a', 'Has brand name', 'Contains',
       'Source - RxNorm eq', 'Contained in panel', 'Has component',
       'Has method', 'Has time aspect', 'Has property', 'Has Answer',
       'Has system', 'Panel contains', 'Has kind', 'Has subject matter',
       'Concept replaces', 'Has type of service', 'Subsumes', 'System of',
       'Answer of', 'Has dose form group', 'RxNorm - SNOMED eq',
       'Dose form group of', 'Has precise ing', 'RxNorm - SPL',
       'RxNorm - CVX', 'Precise ing of', 'RxNorm - ATC', 'RxNorm ing of',
       'RxNorm dose form of', 'Supplier of', 'Component of',
       'Histology of ICDO', 'ICDO to Schema', 'Has Topography ICDO',
       'ICDO to Chapter', 'Has Histology ICDO', 'ICDO to Proc Schema',
       'Has asso morph', 'Maps to value', 'Using device',
       'Has active ing', 'Has relat context', 'Concept poss_eq from',
       'Role played by', 'SNOMED - RxNorm eq', 'Has asso finding',
       'Has dir proc site', 'Has interpretation', 'Finding site of',
       'Has indir proc site', 'Has access', 'Using subst',
       'Active ing of', 'Value mapped from', 'Has occurrence',
       'Has count of ing', 'Has finding context', 'Has numerator unit',
       'Has denominator unit', 'Has unit of presen', 'Has conc num unit',
       'Has basis str subst', 'Has prec ingredient', 'Disposition of',
       'Causative agent of', 'Has modification', 'Modification of',
       'Has temporal context', 'Has focus', 'Has proc context',
       'Followed by', 'Concept same_as from', 'Concept was_a from',
       'Has disp dose form', 'Has spec active ing', 'VMP of',
       'Has causative agent', 'Has route', 'Has ontological form',
       'Has form continuity', 'Has legal category', 'Has AMP restr ind',
       'AMP of', 'Has AMP', 'Has excipient', 'Has licensed route',
       'Has add monitor ind', 'Has dose form unit',
       'Has unit of prod use', 'Has combi prod ind',
       'Has numerator value', 'Has VMP', 'Has unit of admin',
       'Has flavor', 'Concept was_a to', 'Dir proc site of',
       'Has laterality', 'Disp dose form of', 'Spec active ing of',
       'Has route of admin', 'Has intent', 'Has dir subst',
       'Has asso proc', 'Has dir device', 'Has due to', 'Occurs after',
       'Has form', 'Form of', 'Answer of (PPI)', 'PPI parent code of',
       'Has answer (PPI)', 'Has PPI parent code', 'Status of',
       'Module of', 'Dose form of', 'Technique of', 'Process output of',
       'Laterality of', 'Due to of', 'Pathology of', 'Asso morph of',
       'CD category of', 'RxNorm - ATC pr lat', 'RxNorm - ATC sec up',
       'Disc indicator of', 'Has specimen proc', 'Prec ingredient of',
       'Specimen proc of', 'Interprets of', 'Has proc site',
       'Basis str subst of', 'Has dir morph', 'Using acc device',
       'Asso proc of', 'Numerator value of', 'Conc num val of',
       'Denom value of', 'Has specimen topo', 'Has surgical appr',
       'Denominator unit of', 'Unit of presen of', 'Dose form unit of',
       'Unit of prod use of', 'Dir morph of', 'Has conc denom unit',
       'Has conc num val', 'Has technique', 'Ontological form of',
       'Form continuity of', 'Combi prod ind of', 'Access of',
       'Paral imprt of', 'Add monitor ind of', 'Free indicator of',
       'Focus of', 'AMP restr ind of', 'Admin method of',
       'Has process output', 'Method of', 'Clinical course of',
       'Specimen topo of', 'Conc denom unit of', 'Non-avail ind of',
       'DRG - MDC cat', 'DRG - MS-DRG eq', 'MS-DRG - DRG eq',
       'MDC cat - DRG', 'RxNorm - NDFRT eq', 'RxNorm - VAProd eq',
       'NDFRT - SNOMED eq', 'Therap class of', 'NDFRT to VA Class eq',
       'NDFRT ing of', 'NDFRT - RxNorm eq', 'Chem to Prep eq',
       'Chem structure of', 'Value to Schema', 'Permiss range of',
       'May treat', 'Has physio effect', 'Drug-drug inter for',
       'Product comp of', 'Has drug-drug inter', 'Has MoA',
       'CVX - RxNorm', 'CI by', 'VAProd - RxNorm eq', 'NDFRT has ing',
       'NDFRT has dose form', 'May diagnose', 'May prevent',
       'Has product comp', 'MoA of', 'May be treated by',
       'Physiol effect by', 'ATC - RxNorm sec lat', 'ATC - RxNorm pr lat',
       'Drug class of drug', 'Relat context of', 'Has specimen',
       'Has indir morph', 'Asso finding of', 'Proc morph of',
       'Indir morph of', 'VMP prescr stat of', 'CPT4 - SNOMED eq',
       'Drug has drug class', 'Has role', 'Has setting',
       'Indir proc site of', 'Has proc device', 'State of matter of',
       'Has state of matter', 'Has basic dose form', 'Basic dose form of',
       'Specimen subst of', 'Accepted use of', 'FDA indication of',
       'Has modality', 'Life circumstan of', 'Has specimen subst',
       'Part of', 'Occurrence of', 'Has inherent', 'Excipient of',
       'Variant of', 'Has variant', 'Dir subst of', 'Interpretation of',
       'Property of', 'Route of admin of', 'Conc num unit of',
       'Scale type of', 'Inherent location of', 'Temporal context of',
       'Intent of', 'Proc site of', 'Proc context of', 'Device used by',
       'Count of ing of', 'Follows', 'Targ population of',
       'Recipient cat of', 'Comp material of', 'Absorbability of',
       'Legal category of', 'Route of', 'Unit of admin of', 'Flavor of',
       'Coating material of', 'Dir device of', 'Asso with finding',
       'Is characterized by', 'Time aspect of', 'Type of service of',
       'Kind of', 'Has cytotox chemo Rx', 'Has endocrine tx',
       'Has radiotherapy', 'Has cytotoxic chemo', 'Has accepted use',
       'May have route', 'Has immunosuppressor', 'Has immunotherapy',
       'Has targeted therapy', 'Has FDA labeling', 'Has FDA indication',
       'Endocrine tx of', 'Radiotherapy of', 'Cytotoxic chemo of',
       'May be route of', 'Immunosuppressor of', 'Immunotherapy of',
       'Modality of', 'Targeted therapy of', 'FDA labeling of',
       'Has targeted tx Rx', 'Cytotox chemo RX of', 'Rx targeted tx of',
       'OncoTree to ICDO eq', 'ICDO to OncoTree eq', 'Subject matter of',
       'Is curr in adult', 'Has steroid tx', 'Is hist in adult',
       'Has context', 'Had accepted use', 'Has investig use',
       'Curr adult indic for', 'Steroid tx of', 'Hist adult indic for',
       'Context of', 'Had accepted for', 'Investig use for',
       'Has immunotherapy Rx', 'Has radiotherapy Rx',
       'Rx immunotherapy of', 'Rx radiotherapy of', 'Topography of ICDO',
       'ATC - RxNorm', 'ATC - RxNorm pr up', 'ATC - RxNorm sec up',
       'RxNorm - ATC pr up', 'RxNorm - ATC sec lat', 'Precoord pair of',
       'Has precoord pair', 'SNOMED - CPT4 eq', 'CPT4 - SNOMED cat',
       'SNOMED cat - CPT4', 'Has life circumstan', 'Has manifestation',
       'Has part of', 'Has chem structure', 'Induces',
       'Has CI chem class', 'Has therap class', 'Has CI MoA', 'Has PK',
       'Has CI physio effect', 'Has metabolites', 'SNOMED - NDFRT eq',
       'Occurs before', 'Specimen of', 'Using energy', 'Unit mapped from',
       'Finding asso with', 'Inheres in', 'Has property type',
       'Proc device of', 'Has specimen morph', 'NDFRT dose form of',
       'Licensed route of', 'SNOMED - ATC eq', 'HOI - SNOMED',
       'DOI - RxNorm', 'Has trade family grp', 'Has dev intend site',
       'Has comp material', 'Trade family grp of', 'Dev intended site of',
       'Subst used by', 'Acc device used by', 'Maps to unit',
       'Has inherent loc', 'Has targ population', 'Has recipient cat',
       'Has absorbability', 'Has coating material', 'Unit of',
       'SNOMED - ind/CI', 'Concept alt_to from', 'SNOMED - HOI',
       'Role of', 'Setting of', 'RxNorm - DOI', 'Rx support med of',
       'Has question source', 'Question source of', 'RxNorm - NDFRT name',
       'Chapter has Category', 'Chapter to ICDO', 'Category in Chapter',
       'CPT4 - LOINC eq', 'LOINC - CPT4 eq', 'Concept alt_to to',
       'Using finding inform', 'Finding method of', 'Has indir device',
       'Characterizes', 'Numerator unit of', 'Has denomin value',
       'Has intended site', 'Has admin method', 'Has release charact',
       'Surgical appr of', 'Using finding method', 'Intended site of',
       'Finding inform of', 'Indir device of', 'Specimen identity of',
       'Has specimen source', 'Release charact of', 'Manifestation of',
       'Property type of', 'SNOMED - VA Class eq', 'Specimen morph of',
       'Energy used by', 'Finding context of', 'Has vaccine group',
       'Vaccine group of', 'Prep to Chem eq', 'May be prevented by',
       'Ind/CI - SNOMED', 'Diagnosed through', 'CI to',
       'NDFRT - RxNorm name', 'VA Class - SNOMED eq',
       'VA Class to NDFRT eq', 'CI MoA of', 'CI chem class of',
       'Metabolite of', 'CI physiol effect by', 'PK of', 'Induced by',
       'NDFRT to ATC eq', 'ATC - SNOMED eq', 'ATC to NDFRT eq',
       'Supportive med of', 'VRP of', 'Has VRP', 'Local therapy of',
       'Has supportive med', 'Has support med Rx', 'Has local therapy',
       'Category of', 'Has Value', 'Has Category', 'Value of',
       'Schema to Value', 'Schema to Variable', 'Schema to ICDO',
       'Proc Schema to ICDO', 'Has parent item', 'Variable to Schema',
       'Has unit', 'Has permiss range', 'Parent item of',
       'Process extends from', 'Has complication', 'Rx immunosuppr of',
       'Has endocrine tx Rx', 'Rx AB-drug cjgt of', 'ICDO br to OncoTree',
       'Rx steroid tx of', 'Rx radiocjgt of', 'Version contains',
       'Physiol state of', 'Prod character of', 'Type of',
       'Has antineoplastic', 'Rx local therapy of', 'Direct site of',
       'Has proc morph', 'Priority of', 'Has direct site', 'Has priority',
       'VA Class to ATC eq', 'Has precondition', 'ATC to VA Class eq',
       'Has ARP', 'ARP of', 'Has start date', 'Rx endocrine tx of',
       'Has AB-drug cjgt', 'Has AB-drug cjgt Rx', 'Has radiocjgt Rx',
       'Severity of', 'Stage of', 'Revision status of', 'Has measurement',
       'Transformation of', 'Precondition of', 'Relative part of',
       'Measurement of', 'Has antineopl Rx', 'During', 'Proc duration of',
       'Radioconjugate of', 'OncoTree to ICDO br', 'Curr ped indic for',
       'Has count of act ing', 'Rx antineopl of', 'Antineoplastic of',
       'Has temp finding', 'Is sterile of', 'Episodicity of',
       'Conc denom val of', 'AB-drug cjgt of', 'VRP prescr stat of',
       'Process extends to', 'Metabolism of', 'Has local therap Rx',
       'End date of', 'Start date of', 'Temp related to', 'Strength of',
       'Filling of', 'Has immunosuppr Rx', 'Has steroid tx Rx',
       'Contained in version', 'Has physiol state', 'Has prod character',
       'Has type', 'Has proc duration', 'Has pept-drug cjgt',
       'Pept-drug cjgt of', 'Relative to', 'Count of act ing in',
       'Relative to of', 'Sub-specimen of', 'Rx pept-drg cjg of',
       'Rx PDC of', 'Has biosimilar', 'Surface texture of',
       'Has surface char', 'Inhibits effect', 'Has revision status',
       'Has severity', 'Has stage', 'Has transformation',
       'Has relative part', 'Has filling', 'Has sub-specimen',
       'Has radioconjugate', 'Is curr in ped', 'Has pept-drg cjg Rx',
       'Has PDC Rx', 'Has episodicity', 'Biosimilar of',
       'Hist ped indic for', 'Is sterile', 'Has conc denom val',
       'Is hist in ped', 'Has metabolism', 'VRP has prescr stat',
       'Has end date', 'Surf character of', 'Has surface texture',
       'Paral imprt ind', 'Has strength', 'May be inhibited by'],
      dtype=object)

In [159]:
import time

start = time.time()
df_concept_rel[(df_concept_rel['concept_id_1']==1569126) & (df_concept_rel['relationship_id']=='Maps to')]
print(time.time() - start)

start = time.time()
df_concept_rel.query("concept_id_1 == 1569126 and relationship_id == 'Maps to'")
print(time.time() - start)

2.9792072772979736
1.1143994331359863

In [164]:
df_concept[df_concept['vocabulary_id']=='ICD10PCS']

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
1052446,2801516,Medical and Surgical (Procedure),Procedure,ICD10PCS,ICD10PCS Hierarchy,S,0,19700101,20991231,NaN
1052447,2868126,Medical and Surgical @ Central Nervous System ...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,00,19700101,20991231,NaN
1052448,2722479,"Central Nervous System and Cranial Nerves, Bypass",Procedure,ICD10PCS,ICD10PCS Hierarchy,S,001,19700101,20991231,NaN
1052449,2826862,Medical and Surgical @ Central Nervous System ...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,0016,19700101,20991231,NaN
1052450,2801517,Medical and Surgical @ Central Nervous System ...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,00160,19700101,20991231,NaN
...,...,...,...,...,...,...,...,...,...,...
1247422,43018390,"New Technology, Extracorporeal, Introduction",Procedure,ICD10PCS,ICD10PCS Hierarchy,S,XY0,20170514,20991231,NaN
1247423,1534992,New Technology @ Extracorporeal @ Introduction...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,XY0V,19700101,20991231,NaN
1247424,1536428,New Technology @ Extracorporeal @ Introduction...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,XY0VX,19700101,20991231,NaN
1247425,1536454,New Technology @ Extracorporeal @ Introduction...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,XY0VX8,19700101,20991231,NaN
1247426,43018391,Extracorporeal Introduction of Endothelial Dam...,Procedure,ICD10PCS,ICD10PCS,S,XY0VX83,20170514,20991231,NaN

In [166]:
len(df_concept.loc[df_concept['vocabulary_id']=='ICD10PCS', 'concept_code'].unique())

194981

In [183]:
selected_rows = df_concept[
    (df_concept['vocabulary_id'] == 'ICD10PCS') &
    (df_concept['concept_code'].str.startswith('0')) &
    (df_concept['concept_code'].str.len() >= 5)
]
selected_rows

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
1052450,2801517,Medical and Surgical @ Central Nervous System ...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,00160,19700101,20991231,NaN
1052451,2881550,Medical and Surgical @ Central Nervous System ...,Procedure,ICD10PCS,ICD10PCS Hierarchy,S,001607,19700101,20991231,NaN
1052452,2722480,Bypass Cerebral Ventricle to Nasopharynx with ...,Procedure,ICD10PCS,ICD10PCS,S,0016070,20140422,20991231,NaN
1052453,2722481,Bypass Cerebral Ventricle to Mastoid Sinus wit...,Procedure,ICD10PCS,ICD10PCS,S,0016071,20140422,20991231,NaN
1052454,2722482,Bypass Cerebral Ventricle to Atrium with Autol...,Procedure,ICD10PCS,ICD10PCS,S,0016072,20140422,20991231,NaN
...,...,...,...,...,...,...,...,...,...,...
1220039,2784321,Revision of Synthetic Substitute in Left Lower...,Procedure,ICD10PCS,ICD10PCS,S,0YWBXJZ,20140422,20991231,NaN
1220040,2833334,"Medical and Surgical @ Anatomical Regions, Low...",Procedure,ICD10PCS,ICD10PCS Hierarchy,S,0YWBXK,19700101,20991231,NaN
1220041,2784322,Revision of Nonautologous Tissue Substitute in...,Procedure,ICD10PCS,ICD10PCS,S,0YWBXKZ,20140422,20991231,NaN
1220042,2813037,"Medical and Surgical @ Anatomical Regions, Low...",Procedure,ICD10PCS,ICD10PCS Hierarchy,S,0YWBXY,19700101,20991231,NaN
1220043,2784323,Revision of Other Device in Left Lower Extremi...,Procedure,ICD10PCS,ICD10PCS,S,0YWBXYZ,20140422,20991231,NaN

In [181]:
selected_rows.iloc[0]['concept_name']

'Medical and Surgical @ Central Nervous System and Cranial Nerves @ Bypass @ Cerebral Ventricle @ Open'

In [180]:
len(selected_rows['concept_code'].str[:5].unique())

29292

In [173]:
df_op['icd10_pcs']

0         09B70
1         0WJG0
2         0DHS0
3         10D00
4         0JQC0
          ...
131104    0DNE0
131105    0HBU0
131106    0HBT0
131107    0DB64
131108    0FT44
Name: icd10_pcs, Length: 131109, dtype: object

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
from datetime import datetime

# INSPIRE v0.2 (about 65,000 cases, 50% of the surgical cases)
# Define the path to the INSPIRE v2 dataset
input_path = 'inspire_v2/mapped'

df_vitals = pd.read_csv(f'{input_path}/vitals.csv')          # Load vitals data

In [3]:
example = df_vitals[df_vitals['subject_id']==188384371]
example

,op_id,subject_id,chart_time,item_name,value,Unit,concept_id,vocab
13577797,476494958,188384371,4765,art_mbp,0.0,mmHg,21490852.0,LOINC
13577798,476494958,188384371,4765,cvp,-5.5,mmHg,21490675.0,LOINC
13577799,476494958,188384371,4765,pap_mbp,1.0,mmHg,3028074.0,LOINC
13577800,476494958,188384371,4770,spo2,86.0,%,3013502.0,LOINC
13577801,476494958,188384371,4770,cvp,-7.0,mmHg,21490675.0,LOINC
...,...,...,...,...,...,...,...,...
21025277,455168486,188384371,97550,rr,14.0,/min,3024171.0,LOINC
21025278,455168486,188384371,97555,rr,14.0,/min,3024171.0,LOINC
21025279,455168486,188384371,97560,rr,16.0,/min,3024171.0,LOINC
21025280,455168486,188384371,97565,rr,16.0,/min,3024171.0,LOINC
21025281,455168486,188384371,97570,rr,14.0,/min,3024171.0,LOINC

In [8]:
example[example['op_id']==404071310].to_csv('example.csv', index=False)

In [ ]:
example[example['item_name']=='air']

,op_id,subject_id,chart_time,item_name,value,Unit,concept_id,vocab
13577842,476494958,188384371,4810,air,6.00,L/min,21490716.0,LOINC
13577878,476494958,188384371,4820,air,0.70,L/min,21490716.0,LOINC
13896354,496464453,188384371,32880,air,1.50,L/min,21490716.0,LOINC
13896586,496464453,188384371,32965,air,0.00,L/min,21490716.0,LOINC
13896601,496464453,188384371,32970,air,0.00,L/min,21490716.0,LOINC
14028576,496809341,188384371,43005,air,1.30,L/min,21490716.0,LOINC
14029257,453164039,188384371,43005,air,1.30,L/min,21490716.0,LOINC
14029832,453164039,188384371,43200,air,1.30,L/min,21490716.0,LOINC
14115116,453304618,188384371,46895,air,0.00,L/min,21490716.0,LOINC
14115123,453304618,188384371,46900,air,0.00,L/min,21490716.0,LOINC
14115130,453304618,188384371,46905,air,1.50,L/min,21490716.0,LOINC
14147028,420824565,188384371,51105,air,1.30,L/min,21490716.0,LOINC
14147162,420824565,188384371,51150,air,0.75,L/min,21490716.0,LOINC
14233718,404071310,188384371,55585,air,1.90,L/min,21490716.0,LOINC
14233752,404071310,188384371,55595,air,1.50,L/min,21490716.0,LOINC
14233878,404071310,188384371,55630,air,1.50,L/min,21490716.0,LOINC
14234046,404071310,188384371,55675,air,0.00,L/min,21490716.0,LOINC
14234065,404071310,188384371,55680,air,0.00,L/min,21490716.0,LOINC
14291387,493916494,188384371,58640,air,1.50,L/min,21490716.0,LOINC
14291918,493916494,188384371,58815,air,0.00,L/min,21490716.0,LOINC
14400545,487083477,188384371,67170,air,0.00,L/min,21490716.0,LOINC
14400563,487083477,188384371,67175,air,1.30,L/min,21490716.0,LOINC
14401055,487083477,188384371,67300,air,1.00,L/min,21490716.0,LOINC
14401847,487083477,188384371,67575,air,2.00,L/min,21490716.0,LOINC
14402343,487083477,188384371,67680,air,2.00,L/min,21490716.0,LOINC
14790035,455168486,188384371,97465,air,0.00,L/min,21490716.0,LOINC
14790050,455168486,188384371,97470,air,1.30,L/min,21490716.0,LOINC
14790327,455168486,188384371,97570,air,0.00,L/min,21490716.0,LOINC

# Vocab Mapping (INSPIRE)
* Mapping source concept into standard concept

In [1]:
import csv
import pandas as pd

df_vocab = pd.read_csv(f'vocab/VOCABULARY.csv', sep='\t', on_bad_lines='error')
df_concept_rel = pd.read_csv(f'vocab/CONCEPT_RELATIONSHIP.csv', sep='\t', on_bad_lines='error')
df_concept = pd.read_csv(f'vocab/CONCEPT.csv', sep='\t')

/tmp/ipykernel_873557/1335861446.py:6: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_concept = pd.read_csv(f'vocab/CONCEPT.csv', sep='\t')

In [163]:
len(df_vocab), len(df_concept)

(126, 9154809)

In [ ]:
import sys
sys.path

['/home/hskim1/INSPIRE_TO_CDM',
 '/opt/anaconda-3-2020.02/envs/hskim/lib/python38.zip',
 '/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8',
 '/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/lib-dynload',
 '',
 '/home/hskim1/.local/lib/python3.8/site-packages',
 '/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/site-packages']

## operations

In [108]:
# INSPIRE v0.2 (about 130,000 cases, 50% of the surgical cases)
import pandas as pd
import numpy as np

# loading INSPIRE dataset (6 source tables)
input_path = 'inspire_v2'
df_op = pd.read_csv(f'{input_path}/operations.csv')

# Filter the relationship data to only include 'Maps to' relationships
maps_to_df = df_concept_rel[df_concept_rel['relationship_id'] == 'Maps to']

# Merge the operation data with the concept data using the ICD10PCS vocabulary to obtain the source_concept_id
merged_data = df_op.merge(df_concept[df_concept['vocabulary_id'] == 'ICD10PCS'], left_on='icd10_pcs', right_on='concept_code', how = 'left')

# Merge the resulting data with the 'maps_to' relationship data to obtain the corresponding standard_concept_id
df_op_mapped = merged_data.merge(maps_to_df, left_on='concept_id', right_on='concept_id_1', how='left')

# Populate the 'source_value', 'source_concept_id', and 'standard_concept_id' columns in the df_op dataframe
df_op['source_value'] = df_op_mapped['icd10_pcs']
df_op['source_concept_id'] = df_op_mapped['concept_id']
df_op['standard_concept_id'] = df_op_mapped['concept_id_2']

# Calculate and print the number of OPERATION table records that could not be mapped to a standard concept
nan_sum = df_op['standard_concept_id'].isna().sum()
print(f'Mismatched concepts in OPERATION table: {nan_sum} / {len(df_op)} ({nan_sum/len(df_op)*100:.1f}%)')

# Remove rows from the df_op dataframe where the 'standard_concept_id' is missing
#df_op.dropna(subset= 'standard_concept_id', inplace=True, ignore_index=True)

# Save the cleaned and mapped operation data to a CSV file
df_op.to_csv('inspire_v2/mapped/operations.csv', index=False)

Mismatched concepts in OPERATION table: 2954 / 131109 (2.3%)

In [157]:
df_op_mapped

,op_id,subject_id,hadm_id,case_id,opdate,age,sex,weight,height,race,...,concept_code,valid_start_date_x,valid_end_date_x,invalid_reason_x,concept_id_1,concept_id_2,relationship_id,valid_start_date_y,valid_end_date_y,invalid_reason_y
0,484069807,178742874,229842382,NaN,0,30,F,48.0,153.0,Asian,...,09B70,19700101.0,20991231.0,NaN,2848413.0,2848413.0,Maps to,20140422.0,20991231.0,NaN
1,446270725,158995752,257857903,NaN,0,70,M,43.0,169.0,Asian,...,0WJG0,19700101.0,20991231.0,NaN,2806677.0,2806677.0,Maps to,20140422.0,20991231.0,NaN
2,406892271,108553242,200664328,NaN,61920,50,F,69.0,165.0,Asian,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,478413008,133278262,277235295,NaN,0,35,F,54.0,NaN,Asian,...,10D00,19700101.0,20991231.0,NaN,2872134.0,2872134.0,Maps to,20140422.0,20991231.0,NaN
4,468516791,116924034,299190423,NaN,17280,45,F,47.0,152.0,Asian,...,0JQC0,19700101.0,20991231.0,NaN,2855598.0,2855598.0,Maps to,20140422.0,20991231.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131104,449124488,138484174,228449654,NaN,4999680,50,F,58.0,162.0,Asian,...,0DNE0,19700101.0,20991231.0,NaN,2825751.0,2825751.0,Maps to,20140422.0,20991231.0,NaN
131105,461252752,126772283,273139806,NaN,2880,70,F,53.0,162.0,Asian,...,0HBU0,19700101.0,20991231.0,NaN,2816908.0,2816908.0,Maps to,20140422.0,20991231.0,NaN
131106,471834474,144363433,275833861,NaN,2880,65,F,51.0,152.0,Asian,...,0HBT0,19700101.0,20991231.0,NaN,2812415.0,2812415.0,Maps to,20140422.0,20991231.0,NaN
131107,419787421,195835964,293939099,NaN,12960,85,M,74.0,171.0,Asian,...,0DB64,19700101.0,20991231.0,NaN,2812715.0,2812715.0,Maps to,20140422.0,20991231.0,NaN
131108,493136728,148443464,280269654,NaN,2880,70,M,78.0,182.0,Asian,...,0FT44,19700101.0,20991231.0,NaN,2816397.0,2816397.0,Maps to,20140422.0,20991231.0,NaN

In [88]:
len(df_op['source_value'].unique())

2255

In [70]:
df_op.loc[df_op['standard_concept_id'].isna(), 'source_value'].unique()

array(['0DHS0', '0WTF0', '0H10X', '0N0R0', '0HB00', '09QMX', '0ABD0',
       '08QJ0', '0A0D7', '08DJ0', '09870', '0PHCX', '08D43', '0PT04',
       '0UBD0', '0WJN8', '0CD80', '0RD03', '0XR80', '08BK0', '0MDNX',
       '0BTGX', '0WBG0', '08DJX', '0TGD0', '00110', '0RGB0', '0H00X',
       '08RJ0', '0PHPX', '00B0X', '0BTK3', '00GT0', '0H003', '0E0K3',
       '0PX00', '0PJ00', '0FJ50', '0020D', '08DN0', '0HX00', '0HN00',
       '0AQD7', '0RR04', '0WTN4', '0AQD0', '0SBA0', '0TY04', '00J08',
       '0UBD8', '0HQ00', '0RG30', '00H0D', '0PJ04', '0N0C0', '0W1F0',
       '0N000', '09G70', '0HR00', '0HD00', '08DJ7', '0P600', '09D03',
       '0WJC7', '081J3', '0WQJ0', '08T00', '0N0RX', '09B17', '08BJX',
       '021F0', '0NDTX', '0N0B0', '0HS00', '09170', '0P000', '09070',
       '0WTN0', '0PT03', '0H900', '09Q7X', '0H000', '0GQ0X', '0J760',
       '0YD53', '08BJ0', '0BTN4', '07BT0', '0PB3X', '08U43', '0TH10',
       '0DQ04', '0WT80', '0WBG4', '0XR90', '0UTGF', '0H300', '0WNF0',
       '0PB0X', '0BJC4', '0WBJ0', '0Y6CX', '09770', '0UD94', '0HB04',
       '08RJX', '0E9RX', '08B40', '0DRE0', '0VS97', '0S8H0', '02BA0',
       '0ABD7', '0WDG4', '0T100', '0WTF4', '0BTG3', '00TT0', '0BT04',
       '0EQ00', '0HT80', '0R800', '0E000', '0GBK0', '08940', '0J0C7',
       '08TJX', '08QJX', '0JB0X', '09D7X', '0D1P0', '0DJP0', '081JX',
       '031Y0', '0VX50', '0UBD7', '0A122', '0WTG0', '0JH0X', '0S8J0',
       '0PH0X', '0J000', '0H100', '0U0G7', '086N0', '0D1Q0', '0PG00',
       '08U40', '07J08', '0T13X', '09X00', '0VR9X', '08R40', '08BJ7',
       '0C000', '0AC20', '0MWN0', '0P00X', '0B8T0', '08BS3', '0HD03',
       '0HR07', '00B08', '09B07', '0TY07', '0XNN0', '0TDB3', '0C1S0',
       '0WTG4', '0UJ90', '08D93', '0HW0X', '0V1S0', '0R300', '0SRC3',
       '0P700', '0PG30', '0RDXX', '0QH6X', '0BQ1X', '0HC00', '0TCBD',
       '0HR80', '0TB94', '08BS0', '09J04', '08DP0', '0SBCX', '09T7X',
       '07BHX', '0WJ07', '0BJG4', '0QJH4', '0BJF4', '09H70', '0PHDX',
       '0JX0X', '0H20X', '00907', '0RY00', '0H800', '0HT0X', '0UJ98',
       '0PGS0', '0YJ20', '0HP00', '0P1S0', '08D63', '08SK0', '0JSC0',
       '01H50', '0S8D4', '0H60X', '09800', '0SDD0', '090M0', '08B20',
       '0WYG0', '09G00', '0P80X', '0DB04', '0WT84', '0DBSX', '0HS03',
       '00B07', '0UBDF', '0E9R0', '07DT3', '0TDB0', '00GTX', '07J04',
       '0H0W0', '0WTJ0', '09X0X', '08D0X', '04P0X', '0HXU0', '07B5X',
       '0MDPX', '0KGT0', '00T60', '00B0D', '00QTX', '0FD10', '08Q63',
       '0E1H7', '0T0D7', '0KHJX', '0UR90', '0P100', '0DBEX', '0DBBX',
       '0J047', '00100', '0JS10', '001T0', '0JBT0', '0392X', '00T0X',
       '08XNX', '0HB80', '0D1BX', '0W1F4', '08XJX', '0DJJ7', '0SDC0',
       '0UBGF', '08TJ0', '00T20', '0UBD4', '09BQ7', '0HBU4', '0A0D0',
       '0UJ04', '08TP4', '00BTX', '0HXT0', '08BKX', '0UB9F', '09050',
       '05BYX', '0UTD0', '0PXCX', '0HP0X', '08DN3', '00PT0', '0SQA0',
       '0WSN4', '0B0T0', '0VR00', '0HD07', '08040', '0DQEX', '0TYB0',
       '0S6C0', '02B10', '0DDEX', '0HT00', '0K140', '0312X', '09B7X',
       '08G40', '0DT00', '0DJS4', '0YT50', '0HB03', '0DJE4', '0WR00',
       '0UQD0', '0MR8X', '03T2X', '0MHN0', '00D0X', '00T00', '00T04',
       '09J0X', '0H600', '0MBNX', '08BK7', '0D100', '0A152', '0PJF4',
       '0E1H0', '0U190', '02RA0', '0PD3X', '0QB77', '0DJE0', '0UBB7',
       '0T167', '0BC00', '02LF0', '07QT0', '0TDB7', '0JTC0', '0SB9X',
       '0CB87', '0S1D0', '0JSC4', '0SYD4', '051Y0', '0YX50', '09D00',
       '0T710', '09XB0', '091C0', '08D23', '0QB7X', '0MJN0', '0PXS0',
       '0UBM7', '03T24', '0MJP4', '0XW80', '08DX3', '0K80X', '0DBHX',
       '02JF0', '09D10', '09680', '0D1HX', '02B04', '0RB0X', '08QD0',
       '041Y0', '0UQB0', '09X1X', '0P200', '08D20', '09D04', '08DP4',
       '0HG07', '0WTJ4', '0R1M0', '0SDDX', '0FB47', '0FC17', '0YR5X',
       '07D90', '0TG00', '0PD03', '0SDCX', '0HB84', '0B7K0', '0W1FX',
       '0090D', '0UJ94', '0WD80', '0S8D0', '07J00', '0WTC0', '021G0',
       '0AJD7', '0PGR0', '01650', '09D0X', '080K0', '0S8C4', '0AQ20',
       '0S8N0', '0CXS0', '0HJ04', '06T04', '0V150', '0PX0X', '0DTPX',
       '0P400', '02SPX', '0MBPX', '0BSN0', '0T190', '0D8Q0', '0TB90',
       '0Y150', '0SDG0', '04XY0', '08TK0', '0PR0X', '0P300', '09J00',
       '0UT9X', '030Y0', '03TY0', '0SHA0', '0PXR0', '0H907', '0CBSX',
       '0WD0X', '0WDCX', '0HG00', '0DGQ0', '0HSW0', '0W30X', '0GBK4',
       '0WBJ4', '0GQKX', '009TX', '0D300', '0WL84', '0QJ70', '0S8C0',
       '0TT94', '0TB6X', '04150', '00TTX', '0P8CX', '0BJJ0', '00200',
       '08D1X', '0DQPF', '0HJ00', '03Y20', '0HMG0', '00L00', '0PBHX',
       '0PQ07', '0HT04', '0HBQ0', '0KD03', '08SJ0', '0WJG7', '0DQ00',
       '0EDC3', '087K0', '0PD0X', '0V90X', '0PC0X', '09T8X', '0U490',
       '0E0T3', '0FJ54', '0UDC7', '02YF0', '0T1BD', '08B50', '0DS04',
       '0XBN0', '09BPX', '00JT0', '08HK3', '08DM0', '0WRFX', '0EQC3',
       '0M150', '0VSS0', '0PMV0', '0H1T0', '0HXVX', '0T0B0', '0H804',
       '0R8P0', '0DB00', '02J60', '01N0X', '0HC04', '0808X', '07B0X',
       '0CB9X', '02NA0', '0SGA0', '0E0K0', '0M9MX', '0TP60', '0DGP0',
       '0G9KX', '09L70', '07RM0', '0BT3X', '0DQPX', '0X8LX', '05000',
       '0HB90', '020J3', '0QXG0', '0C987', '0SJA4', '0DT9X', '09QPX',
       '0U494', '08R73', '0XTN0', '0WTC4', '0MBRX', '0L87X', '0H0P0',
       '03XY0', '0ULB7', '08S9X', '0UJ14', '0D1S0', '0M87X', '07B07',
       '0P003', '0RHEX', '03BYX', '0P0S0', '0WSJ0', '008FX', '02150',
       '071P4', '0T7CX', '0HJ08', '0WTJX', '0XSN0', '0HH0X', '09P50',
       '0UJ00', '072T0', '0NGT0', '0SMF0', '0JL00', '0Y8N4', '05HYX',
       '0S6Q0', '0F7G0', '08HJ3', '0W3GX', '0WU8X', '00TF0', '0WJJX',
       '0WDFX', '0JLC0', '0E00X', '0UND0', '08153', '0N6T0', '0J100',
       '0FJ94', '0JQC4', '0HD04', '08Q93', '02B6X', '00DFX', '0E0F0',
       '0SD90', '0SY00', '0UY04', '0QG00', '0XBM0', '0D1S4', '0PXV4',
       '09BMX', '0PJ30', '0DJF0', '0H8U0', '0SYC0', '05003', '0VS50',
       '02BRX', '0DSS4', '0CD70', '0QHHX', '0W98X', '0XC60', '02J64',
       '0E0C3', '0PXV0', '0E0T0', '0S8Q0', '0H304', '08T10', '0XC6X',
       '0JMC0', '04LYX', '0J1T0', '0WT00', '0N2Q0', '0DQBX', '0JT10',
       '071M0', '029N0', '0M6L0', '0BBKX', '0JQCX', '0A7D7', '0PXT0',
       '00XFX', '0WBF7', '0EPT3', '0W0G3', '00QFX', '0HTV4', '00Q6X',
       '0BT00', '0FBGX', '0QGG0', '0BX1X', '0B11X', '0K100', '0BJD8',
       '0FY04', '0Y6HX', '0H0X0', '0NX00', '0SYD0'], dtype=object)

## diagnosis

In [109]:
# INSPIRE v0.2 (about 130,000 cases, 50% of the surgical cases)
import pandas as pd
import numpy as np

# loading INSPIRE dataset (6 source tables)
input_path = 'inspire_v2'
df_diag = pd.read_csv(f'{input_path}/diagnosis.csv')

# Create a filtered DataFrame for 'Maps to' relationships
maps_to_df = df_concept_rel[df_concept_rel['relationship_id'] == 'Maps to']

# Merge df_data with df_concept to get source_concept_id
merged_data = df_diag.merge(df_concept[df_concept['vocabulary_id'] == 'ICD10'], left_on='icd10_cm', right_on='concept_code', how='left')

# Merge the result with maps_to_df to get standard_concept_id
df_diag_mapped = merged_data.merge(maps_to_df, left_on='concept_id', right_on='concept_id_1', how='left')

# Populate the 'source_concept_id', and 'standard_concept_id' columns in the df_op dataframe
df_diag['source_concept_id'] = df_diag_mapped['concept_id']
df_diag['standard_concept_id'] = df_diag_mapped['concept_id_2']

# Calculate and print the number of DIAGNOSIS table records that couldn't be mapped to a standard concept
nan_sum = df_diag['standard_concept_id'].isna().sum()
print(f'Mismatched concepts in DIAGNOSIS table: {len(df_diag)} ({nan_sum/len(df_diag)*100:.1f}%)')

df_diag.rename(columns = {'icd10_cm' : 'source_value'}, inplace=True)

# Remove rows from the df_op dataframe where the 'standard_concept_id' is missing
#df_diag.dropna(subset= 'standard_concept_id', inplace=True, ignore_index=True)


# Save the mapped DIAGNOSIS table to a CSV file
df_diag.to_csv('inspire_v2/mapped/diagnosis.csv', index=False)

Mismatched concepts in DIAGNOSIS table: 4733046 (0.1%)

In [77]:
df_diag

,subject_id,chart_time,source_value,source_concept_id,standard_concept_id
0,190852492,325440,R06,45582691.0,4305080.0
1,190852492,325440,G20,45538098.0,381270.0
2,142367193,0,I61,45552800.0,376713.0
3,142367193,658080,E11,45571656.0,201826.0
4,142367193,658080,G44,45755406.0,375527.0
...,...,...,...,...,...
4730398,195448932,172800,H02,45557140.0,437530.0
4730399,195448932,172800,L90,45581765.0,315286.0
4730400,195448932,172800,S04,45572100.0,255919.0
4730401,155658270,24480,K81,45572100.0,43022059.0
4730402,155658270,34560,K81,45553744.0,4214376.0

In [64]:
df_diag_mapped.to_csv('inspire_v2/mapped/diagnosis.csv', index=False)

In [52]:
(df_diag_mapped.loc[df_diag_mapped['standard_concept_id'].isna(), 'source_value'].unique())

array(['U99', 'U06', 'U07'], dtype=object)

### trials of multiprocessing

In [7]:
def diagnosis_map(df_data):
    for idx, row in tqdm(df_data.iterrows(), total=df_data.shape[0]):
        try:
            source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
            standard_concept_id = df_concept_rel[(df_concept_rel['concept_id_1']==source_concept_id) & (df_concept_rel['relationship_id']=='Maps to')]['concept_id_2'].values[0]
            df_data.loc[idx, 'standard_concept_id'] = int(standard_concept_id)

        except Exception as e:
            #print(e)
            df_data.loc[idx, 'standard_concept_id'] = np.nan
        
    return df_data

In [8]:
import multiprocessing as mp

num_cores = 32
df_diag = pd.read_csv(f'{input_path}/diagnosis.csv')

def multiprocess_mapping(df_diag, num_cores):
    # split the dataframe into num_cores part
    df_split = np.array_split(df_diag[:], num_cores)

    # create a pool of process
    pool = mp.Pool(num_cores)

    # apply the function on each part of the dataframe
    df = pd.concat(pool.map(diagnosis_map, df_split))

    pool.close()
    pool.join()
    
    return df

In [12]:
from tqdm import tqdm

df_map = pd.DataFrame()

naug = int(len(df_diag)/1000)
print(naug)
for i in (range(naug)):
    print(i)
    df_map = pd.concat([df_map, multiprocess_mapping(df_diag.loc[i*naug:(i+1)*naug], 32)])

4733
0

 73%|███████▎  | 108/148 [08:30<03:09,  4.73s/it]
Process ForkPoolWorker-117:
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)

KeyboardInterrupt

  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
 73%|███████▎  | 108/148 [08:30<03:09,  4.73s/it]KeyboardInterrupt

Process ForkPoolWorker-107:
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
KeyboardInterrupt
 72%|███████▏  | 106/148 [08:30<03:22,  4.82s/it]
Process ForkPoolWorker-119:
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 5, in diagnosis_map
    standard_concept_id = df_concept_rel[(df_concept_rel['concept_id_1']==source_concept_id) & (df_concept_rel['relationship_id']=='Maps to')]['concept_id_2'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
KeyboardInterrupt
 71%|███████   | 105/148 [08:30<03:29,  4.86s/it]
Process ForkPoolWorker-121:
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 5, in diagnosis_map
    standard_concept_id = df_concept_rel[(df_concept_rel['concept_id_1']==source_concept_id) & (df_concept_rel['relationship_id']=='Maps to')]['concept_id_2'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
KeyboardInterrupt
 74%|███████▎  | 109/148 [08:30<03:02,  4.69s/it]
Process ForkPoolWorker-118:
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
 72%|███████▏  | 107/148 [08:30<03:15,  4.77s/it]  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)

  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
Process ForkPoolWorker-99:
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
KeyboardInterrupt
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
KeyboardInterrupt
 72%|███████▏  | 106/148 [08:30<03:22,  4.82s/it]
Process ForkPoolWorker-120:
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
 74%|███████▍  | 110/148 [08:30<02:56,  4.64s/it]  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))


  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
Process ForkPoolWorker-106:
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
Process ForkPoolWorker-103:
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
Traceback (most recent call last):
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
KeyboardInterrupt
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
KeyboardInterrupt
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method
    res_values = ops.comparison_op(lvalues, rvalues, op)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 293, in comparison_op
    res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/array_ops.py", line 82, in comp_method_OBJECT_ARRAY
    result = libops.scalar_compare(x.ravel(), y, op)
KeyboardInterrupt
 74%|███████▎  | 109/148 [08:31<03:02,  4.69s/it]



Process ForkPoolWorker-115:
Process ForkPoolWorker-104:
Process ForkPoolWorker-113:
Process ForkPoolWorker-122:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/tmp/ipykernel_519938/2008242463.py", line 5, in diagnosis_map
    standard_concept_id = df_concept_rel[(df_concept_rel['concept_id_1']==source_concept_id) & (df_concept_rel['relationship_id']=='Maps to')]['concept_id_2'].values[0]
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/tmp/ipykernel_519938/2008242463.py", line 5, in diagnosis_map
    standard_concept_id = df_concept_rel[(df_concept_rel['concept_id_1']==source_concept_id) & (df_concept_rel['relationship_id']=='Maps to')]['concept_id_2'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/opt/anaconda-3-2020.02/envs/hskim/lib/python3.8/multiprocessing/pool.py", line 48, in mapstar
    return list(map(*args))
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
 70%|███████   | 104/148 [08:31<03:36,  4.91s/it]  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/tmp/ipykernel_519938/2008242463.py", line 4, in diagnosis_map
    source_concept_id = df_concept[(df_concept['vocabulary_id']=='ICD10CM') & (df_concept['concept_code']==row['icd10_cm'])]['concept_id'].values[0]
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)

  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/arraylike.py", line 40, in __eq__
    return self._cmp_method(other, operator.eq)

  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/ops/common.py", line 81, in new_method
    return method(self, other)
  File "/home/hskim1/.local/lib/python3.8/site-packages/pandas/core/series.py", line 6096, in _cmp_method

## medications

In [37]:
df1['drug_name']

         subject_id  chart_time           drug_name route
0         117512122     2832985          pregabalin    po
1         117512122     2833610          pregabalin    po
2         117512122     2832985       levetiracetam    po
3         117512122     2833610       levetiracetam    po
4         117512122     2832985          famotidine    po
...             ...         ...                 ...   ...
9926789   127026720        2070           ofloxacin    ex
9926790   127026720        2550  ibuprofen/arginine    po
9926791   127026720        1340      levocetirizine    po
9926792   154044684         675          gentamicin    iv
9926793   154044684         675           cefazolin    iv

[9926794 rows x 4 columns]

In [2]:
# INSPIRE v0.2 (about 130,000 cases, 50% of the surgical cases)
import pandas as pd
import numpy as np

# loading INSPIRE dataset (6 source tables)
input_path = 'inspire_v2'
df_med = pd.read_csv(f'{input_path}/medications.csv')

In [92]:
df_med = df_med.assign(drug_name=df_med['drug_name'].str.split('/')).explode('drug_name').reset_index(drop=True)

# Map the source concept of drugs into standard concept (RxNorm)
df_med_concept = df_concept[((df_concept['vocabulary_id'] == 'RxNorm') | (df_concept['vocabulary_id'] == 'RxNorm Extension')) & (df_concept['standard_concept'] == 'S')][['concept_name', 'concept_id']]
df_med_concept['concept_name'] = df_med_concept['concept_name'].str.lower()


df_medi_mapped = df_med.merge(df_med_concept, left_on='drug_name', right_on='concept_name', how='left')


# Calculate and print the number of MEDICATIONS table records that couldn't be mapped to a standard concept
nan_sum = df_medi_mapped['concept_id'].isna().sum()
print(f'mismatched concepts in MEDICATIONS table: {nan_sum} / {len(df_medi_mapped)} ({nan_sum/len(df_medi_mapped)*100:.1f}%)')

df_medi_mapped.to_csv('inspire_v2/mapped/medications_na.csv', index=False)

mismatched concepts in MEDICATIONS table: 1542315 / 10906533 (14.1%)

In [11]:
df_medi_mapped.to_csv('inspire_v2/mapped/medications_na.csv', index=False)

In [132]:
df_mismatch = df_med_mapped[df_med_mapped['concept_id'].isna()]
df_mismatch['drug_name'].value_counts().to_csv('medi_mismatch.csv')
#pd.DataFrame({'drug_name':df_mismatch['drug_name'].unique()}).to_csv('medications_mismatch.csv')
len(df_mismatch['drug_name'].unique())

307

In [28]:
# Medi_counts
drugs_per_subject = df_medi_mapped.drop_duplicates(subset=['subject_id', 'drug_name'])
drug_counts = drugs_per_subject['drug_name'].value_counts().to_frame()
drug_counts.reset_index(inplace=True)

drug_counts['perc'] = drug_counts['count'] / 99900 * 100
drug_counts['mismatch'] = np.where(drug_counts['drug_name'].isin(df_mismatch['drug_name']), 1, np.nan)
drug_counts.to_csv('results/medi_counts.csv', index=False)
drug_counts

                 drug_name  count       perc  mismatch
0                 ambroxol  53961  54.015015       NaN
1               famotidine  52731  52.783784       NaN
2            acetaminophen  39151  39.190190       NaN
3                bisacodyl  35328  35.363363       NaN
4                 tramadol  32769  32.801802       NaN
...                    ...    ...        ...       ...
1187  pelargonium sido ext      1   0.001001       1.0
1188            polmacoxib      1   0.001001       NaN
1189            pertuzumab      1   0.001001       NaN
1190           palbociclib      1   0.001001       NaN
1191              pimozide      1   0.001001       NaN

[1192 rows x 4 columns]

In [13]:
df_mismatch = df_medi_mapped[df_medi_mapped['concept_id'].isna()]

df_mismatch.drop_duplicates(subset=['subject_id', 'drug_name'], inplace=True)

df_mismatch['drug_name'].value_counts()

/tmp/ipykernel_873557/1615830721.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mismatch.drop_duplicates(subset=['subject_id', 'drug_name'], inplace=True)

drug_name
acetyl cysteine                   22064
thioglycolic acid                 17994
pethidine                         14926
chlorhexidine gluconate            7501
potassium phophate                 7478
                                  ...
cytosine arabinoside liposomal        1
bromelain                             1
pelargonium sido ext                  1
sodium benzoate powder                1
gingko biloba extract                 1
Name: count, Length: 307, dtype: int64

In [91]:
df_med_mapped[df_med_mapped['concept_id'].isna()] = df_med_mapped[df_med_mapped['concept_id'].isna()].merge(df_concept[(df_concept['vocabulary_id'] == 'RxNorm Extension') & (df_concept['standard_concept'] == 'S')][['concept_name', 'concept_id']], left_on='drug_name', right_on='concept_name', how='left')

df_med_mapped[df_med_mapped['concept_id'].isna()]

,subject_id,chart_time,drug_name,route,concept_name,concept_id
50,189345310.0,11760.0,dexamethasone disodium phosphate,iv,NaN,NaN
64,189345310.0,3120.0,dexamethasone disodium phosphate,iv,NaN,NaN
65,189345310.0,3360.0,dexamethasone disodium phosphate,iv,NaN,NaN
82,189345310.0,15480.0,dexamethasone disodium phosphate,iv,NaN,NaN
87,189345310.0,12360.0,udca,po,NaN,NaN
...,...,...,...,...,...,...
9926779,NaN,NaN,NaN,NaN,NaN,NaN
9926780,NaN,NaN,NaN,NaN,NaN,NaN
9926787,NaN,NaN,NaN,NaN,NaN,NaN
9926788,NaN,NaN,NaN,NaN,NaN,NaN
9926790,NaN,NaN,NaN,NaN,NaN,NaN

## labs

In [73]:
# INSPIRE v0.2 (about 130,000 cases, 50% of the surgical cases)
import pandas as pd
import numpy as np

# loading INSPIRE dataset (6 source tables)
input_path = 'inspire_v2'
df_labs = pd.read_csv(f'{input_path}/labs.csv')
df_params = pd.read_csv(f'{input_path}/mapped/parameters_inspire_mapped.csv')

In [74]:
labs = df_params[df_params['Table']=='labs']
# Merge 'df_labs' with 'df_params' using 'item_name' and 'Label' as keys to map concepts
df_labs = df_labs.merge(labs[['Label', 'Unit', 'concept_id']], left_on = 'item_name', right_on = 'Label', how='left')
# Drop the redundant 'Label' column post merging
df_labs.drop(columns='Label', inplace=True)

# Calculate and print the number of LABS table records that couldn't be mapped to a standard concept
nan_sum = df_labs['concept_id'].isna().sum()
print(f'mismatched concepts in LABS table: {nan_sum} / {len(df_labs)} ({nan_sum/len(df_labs)*100:.1f}%)')

df_labs.to_csv('inspire_v2/mapped/labs.csv', index=False)
df_labs.to_parquet('inspire_v2/mapped/labs.parquet')

mismatched concepts in LABS table: 817262 / 21367131 (3.8%)

In [75]:
lab_counts = df_labs.drop_duplicates(subset=['subject_id', 'item_name'])['item_name'].value_counts().to_frame()
lab_counts['perc'] = lab_counts['count'] / 99900 * 100
lab_counts.reset_index(drop=False, inplace=True)
#lab_counts.to_csv('results/inspire_labs_count.csv', index=False)

In [76]:
df_params['perc'] = df_params.merge(lab_counts, left_on='Label', right_on='item_name', how='left')['perc']
df_params.sort_values(by='perc', ascending=False, inplace=True)
df_params.reset_index(drop=True, inplace=True)

df_params[df_params['Table']=='labs'].to_csv('results/inspire_labs_count.csv', index=False)
df_params.to_csv('results/inspire_parameters_count.csv', index=False)

## vitals

In [15]:
# INSPIRE v0.2 (about 130,000 cases, 50% of the surgical cases)
import pandas as pd
import numpy as np

# Define the directory path for data files
input_path = 'inspire_v2'

# Load the vitals data from the specified input path
df_vitals = pd.read_csv(f'{input_path}/vitals.csv')

# Load the mapped parameters data from the specified input path
#df_params = pd.read_csv(f'{input_path}/mapped/parameters_mapped.csv')
df_params = pd.read_csv(f'{input_path}/mapped/op_parameters.csv')

# Merge the vitals data with the parameters mapping data based on the 'item_name' and 'Label' columns
# Additional information such as 'concept_id' and 'vocab' from the df_params dataframe is also fetched
df_vitals_mapped = df_vitals.merge(df_params.loc[df_params['Table']=='vitals', ['Label_inspire', 'Unit', 'concept_id', 'vocab']], left_on = 'item_name', right_on = 'Label_inspire', how='left')


# Drop the redundant 'Label' column post merging
df_vitals_mapped.drop(columns='Label_inspire', inplace=True)

# Filter out rows where 'item_name' is either 'cpat' or 'ds'
df_vitals_mapped = df_vitals_mapped[~df_vitals_mapped['item_name'].isin(['cpat', 'ds'])]

nan_sum = df_vitals_mapped['concept_id'].isna().sum()
print(f'mismatched concepts in VITALS table: {nan_sum} / {len(df_vitals_mapped)} ({nan_sum/len(df_vitals_mapped)*100:.1f}%)')

df_vitals_mapped.to_csv('inspire_v2/mapped/vitals.csv', index=False)
df_vitals_mapped.to_parquet('inspire_v2/mapped/vitals.parquet')

mismatched concepts in VITALS table: 0 / 64443624 (0.0%)

In [106]:
df_vitals_mapped

,op_id,subject_id,chart_time,item_name,value,Unit,concept_id,vocab
0,435959808,181409183,1985,minvol,4.8,L/min,42527120.0,LOINC
1,435959808,181409183,1985,vt,520.0,mL,21490854.0,LOINC
2,435959808,181409183,1985,rr,9.0,/min,3024171.0,LOINC
3,435959808,181409183,1985,pip,23.0,cmH2O,21490650.0,LOINC
4,435959808,181409183,2005,minvol,4.5,L/min,42527120.0,LOINC
...,...,...,...,...,...,...,...,...
66127935,447098707,159399111,1511530,nibp_dbp,94.0,mmHg,21492240.0,LOINC
66127936,447098707,159399111,1511530,nibp_mbp,123.0,mmHg,21492241.0,LOINC
66127937,447098707,159399111,1511530,spo2,100.0,%,3013502.0,LOINC
66127938,447098707,159399111,1511535,hr,80.0,/min,3027018.0,LOINC
66127939,447098707,159399111,1511535,spo2,100.0,%,3013502.0,LOINC

In [25]:
set(df_data['item_name'].unique()) - set(df_params['Label'])

{'cpat', 'ds', 'pepi'}

In [23]:
df_data['item_name'].unique()

array(['minvol', 'vt', 'rr', 'pip', 'nibp_sbp', 'nibp_dbp', 'nibp_mbp',
       'o2', 'hs', 'hr', 'spo2', 'air', 'etco2', 'bt', 'uo', 'peep',
       'fio2', 'bis', 'ebl', 'ppfi', 'rfti', 'hes', 'ns', 'etsevo',
       'etgas', 'art_sbp', 'art_dbp', 'art_mbp', 'cvp', 'pap_sbp',
       'pap_dbp', 'pap_mbp', 'ntgi', 'nepi', 'ci', 'rbc', 'dobui', 'ffp',
       'pc', 'cryo', 'n2o', 'psa', 'ppf', 'etdes', 'hns', 'alb20', 'mlni',
       'pepi', 'dopai', 'mdz', 'ftn', 'd5w', 'alb5', 'epii', 'cbro2',
       'd10w', 'ds', 'pplat', 'pmean', 'd50w', 'sft', 'phe', 'eph',
       'cpat', 'vaso', 'epi', 'pheresis', 'etiso', 'aft', 'svi', 'stii',
       'stv5', 'stiii', 'sti'], dtype=object)

In [ ]:
df_vitals_mapped = df_vitals.merge(df_params[['Label', 'concept_id']], left_on = 'item_name', right_on = 'Label', how='left')

## ward_vitals

In [105]:
# INSPIRE v0.2 (about 130,000 cases, 50% of the surgical cases)
import pandas as pd
import numpy as np

# loading INSPIRE dataset (6 source tables)
input_path = 'inspire_v2'
df_ward = pd.read_csv(f'{input_path}/ward_vitals.csv')
df_params = pd.read_csv(f'{input_path}/mapped/parameters_mapped.csv')

# Merge 'df_ward' with 'df_params' using 'item_name' and 'Label' as keys to map concepts
df_ward_mapped = df_ward.merge(df_params.loc[df_params['Table']=='ward_vitals', ['Label', 'Unit', 'concept_id']], left_on = 'item_name', right_on = 'Label')
# Drop the redundant 'Label' column post merging
df_ward_mapped.drop(columns='Label', inplace=True)

# Calculate the number of rows where 'concept_id' is NaN, which indicates a mismatch in the mapping
nan_sum = df_ward_mapped['concept_id'].isna().sum()
print(f'mismatched concepts in WARD_VITALS table: {nan_sum} / {len(df_ward_mapped)} ({nan_sum/len(df_ward_mapped)*100:.1f}%)')

# Save the mapped 'df_ward_mapped' DataFrame to a CSV file
df_ward_mapped.to_csv('inspire_v2/mapped/ward_vitals.csv', index=False)

mismatched concepts in WARD_VITALS table: 0 / 42679760 (0.0%)

In [107]:
df_ward_mapped

          subject_id  chart_time item_name  value Unit  concept_id
0          104192463         580      spo2   98.0    %     3013502
1          104192463         825      spo2   96.0    %     3013502
2          140106882         -35      spo2   95.0    %     3013502
3          114083934        -805      spo2   95.0    %     3013502
4          114083934        -145      spo2   98.0    %     3013502
...              ...         ...       ...    ...  ...         ...
42679755   155523991        6465      iabp    1.0  0/1    36309243
42679756   155523991        6480      iabp    1.0  0/1    36309243
42679757   155523991        6540      iabp    1.0  0/1    36309243
42679758   155523991        6570      iabp    1.0  0/1    36309243
42679759   155523991        6720      iabp    1.0  0/1    36309243

[42679760 rows x 6 columns]

In [52]:
df_concept

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,45756805,Pediatric Cardiology,Provider,ABMS,Physician Specialty,S,OMOP4821938,19700101,20991231,NaN
1,45756804,Pediatric Anesthesiology,Provider,ABMS,Physician Specialty,S,OMOP4821939,19700101,20991231,NaN
2,45756803,Pathology-Anatomic / Pathology-Clinical,Provider,ABMS,Physician Specialty,S,OMOP4821940,19700101,20991231,NaN
3,45756802,Pathology - Pediatric,Provider,ABMS,Physician Specialty,S,OMOP4821941,19700101,20991231,NaN
4,45756801,Pathology - Molecular Genetic,Provider,ABMS,Physician Specialty,S,OMOP4821942,19700101,20991231,NaN
...,...,...,...,...,...,...,...,...,...,...
9154804,2213270,Molecular cytogenetics; chromosomal in situ hy...,Measurement,CPT4,CPT4,S,88272,19700101,20991231,NaN
9154805,45889102,"Bone graft, any donor area",Procedure,CPT4,CPT4 Hierarchy,C,1003752,20141010,20991231,NaN
9154806,2213271,Molecular cytogenetics; chromosomal in situ hy...,Measurement,CPT4,CPT4,S,88273,19700101,20991231,NaN
9154807,2213272,Molecular cytogenetics; interphase in situ hyb...,Measurement,CPT4,CPT4,S,88274,19700101,20991231,NaN
9154808,45889100,"Excision, coccygeal pressure ulcer, with coccy...",Procedure,CPT4,CPT4 Hierarchy,C,1003535,20141010,20991231,NaN

# Vocab Mapping (MOVER)

## measurement

### measurement flo count

In [ ]:
# measurement flo count
import os 

input_path = 'mover/EPIC_measurement/parquet'

meas = pd.DataFrame(columns = ['MRN', 'FLO_NAME', 'FLO_DISPLAY_NAME'])

for file in os.listdir(input_path)[:]:
    fpath = f'{input_path}/{file}'
    print(f'{file} loading...', end='')
    
    df = pd.read_parquet(fpath)
    
    df[['MRN', 'FLO_NAME', 'FLO_DISPLAY_NAME']].to_csv(f'mover/measurement/{file[:-7]}csv')
    meas = pd.concat([meas, df[['MRN', 'FLO_NAME', 'FLO_DISPLAY_NAME']]], axis=0)
    
    del df
    
meas.to_csv('mover/measurements_flow.csv', index=False)

10_measurement.parquet loading...17_measurement.parquet loading...7_measurement.parquet loading...9_measurement.parquet loading...19_measurement.parquet loading...4_measurement.parquet loading...14_measurement.parquet loading...13_measurement.parquet loading...3_measurement.parquet loading...8_measurement.parquet loading...18_measurement.parquet loading...16_measurement.parquet loading...6_measurement.parquet loading...1_measurement.parquet loading...

In [34]:
input_path = 'mover/EPIC_measurement/parquet'
for file in os.listdir(input_path)[:]:
    fpath = f'{input_path}/{file}'
    print(f'{file} loading...', end='')
    
    df = pd.read_parquet(fpath)
    df = df[['MRN', 'FLO_DISPLAY_NAME']]
    df.drop_duplicates(inplace=True)
    
    df1 = df['FLO_DISPLAY_NAME'].value_counts().to_frame()
    df1['perc'] = df1['count'] / len(df) * 100
    
    df1.to_csv(f'mover/measurement_counts/{file[:-7]}csv')

10_measurement.parquet loading...17_measurement.parquet loading...7_measurement.parquet loading...9_measurement.parquet loading...19_measurement.parquet loading...4_measurement.parquet loading...14_measurement.parquet loading...13_measurement.parquet loading...3_measurement.parquet loading...8_measurement.parquet loading...18_measurement.parquet loading...16_measurement.parquet loading...6_measurement.parquet loading...1_measurement.parquet loading...11_measurement.parquet loading...12_measurement.parquet loading...2_measurement.parquet loading...5_measurement.parquet loading...15_measurement.parquet loading...

In [36]:
df1.reset_index(drop=False, inplace=True)

In [45]:
df2 = pd.DataFrame()
input_path = 'mover/measurement_counts'
for file in os.listdir(input_path)[:]:
    fpath = f'{input_path}/{file}'
    print(f'{file} loading...', end='')
    
    df = pd.read_csv(fpath)
    df2 = pd.concat([df2, df], axis=0).groupby('FLO_DISPLAY_NAME').sum().reset_index(drop=False).sort_values(by='count', ascending=False)
    
df2.to_csv('mover/measurement_counts.csv', index=False)

14_measurement.csv loading...1_measurement.csv loading...15_measurement.csv loading...18_measurement.csv loading...2_measurement.csv loading...16_measurement.csv loading...19_measurement.csv loading...17_measurement.csv loading...3_measurement.csv loading...5_measurement.csv loading...11_measurement.csv loading...10_measurement.csv loading...4_measurement.csv loading...13_measurement.csv loading...7_measurement.csv loading...9_measurement.csv loading...6_measurement.csv loading...12_measurement.csv loading...8_measurement.csv loading...

In [37]:
df1

                FLO_DISPLAY_NAME  count      perc
0                           SpO2   4266  2.062992
1                           Resp   4230  2.045583
2                           Temp   4125  1.994806
3                     Pain Score   3793  1.834255
4                             BP   3785  1.830386
..                           ...    ...       ...
99                      Temp src     28  0.013541
100  Room procedure performed in     28  0.013541
101       Other Output (Comment)     26  0.012573
102            Additional Intake     20  0.009672
103             Flo trac monitor      4  0.001934

[104 rows x 3 columns]

### measurement chunk

In [87]:
import pyarrow.parquet as pq
import pyarrow as pa

fpath = 'mover/EPIC_measurement/parquet/1_measurement.parquet'
parquet_file = pq.ParquetFile(fpath)

chunk_size = 60000000

#for idx, chunk in enumerate(pd.read_csv(fpath, chunksize=chunksize)):
#    chunk.to_parquet(

cnt = 1
for batch in parquet_file.iter_batches(batch_size=chunk_size):
    chunk_df = pa.Table.from_batches([batch]).to_pandas(split_blocks=True, self_destruct=True)
    chunk_df.to_parquet(f'mover/EPIC_measurement/parquet/1-{cnt}_measurement.parquet')
    cnt = cnt + 1

## medications

In [29]:
input_path = 'mover/EPIC_EMR'
df_medi = pd.read_csv(f'{input_path}/patient_medications.csv')       # Load medications data

/tmp/ipykernel_873557/198148184.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_medi = pd.read_csv(f'{input_path}/patient_medications.csv')       # Load medications data

In [39]:
df_medi = pd.read_csv(f'{input_path}/mapped/patient_medications_mapped.csv')       # Load medications data

/tmp/ipykernel_873557/3216342556.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_medi = pd.read_csv(f'{input_path}/mapped/patient_medications_mapped.csv')       # Load medications data

In [42]:
df_concept_rel[df_concept_rel['concept_id_1']==1501700]

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
105786,1501700,701596,RxNorm ing of,20220103,20991231,NaN
1078998,1501700,21600676,RxNorm - ATC sec up,20211004,20991231,NaN
1079474,1501700,21601651,RxNorm - ATC sec up,20211004,20991231,NaN
2224642,1501700,1501700,Mapped from,19700101,20991231,NaN
2224643,1501700,1501700,Maps to,19700101,20991231,NaN
...,...,...,...,...,...,...
54254924,1501700,43571773,Has brand name,20160701,20991231,NaN
54254925,1501700,44020729,Has brand name,20170625,20991231,NaN
54254926,1501700,44158258,Has brand name,20171006,20991231,NaN
54254927,1501700,45154821,Mapped from,20200723,20991231,NaN
54254928,1501700,45171747,Mapped from,20200723,20991231,NaN

In [43]:
df_concept_rel[df_concept_rel['concept_id_1']==2730049]

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
5792154,2730049,4044378,Has access,19700101,20991231,NaN
23246709,2730049,2730049,Mapped from,20140422,20991231,NaN
23246710,2730049,2730049,Maps to,20140422,20991231,NaN
23246711,2730049,2821993,Is a,20140422,20991231,NaN
29266889,2730049,4195854,Is a,19700101,20991231,NaN
35955519,2730049,4301737,Has dir proc site,19700101,20991231,NaN
55892572,2730049,4044525,Has method,19700101,20991231,NaN

# EDA_units

In [119]:
units = df_params['Unit'].unique()
units

array(['g/dL', 'IU/L', 'sec', 'mmol/L', 'mg/dL', 'ug/L', 'mg/L', '%',
       'mmHg', nan, '/nL', 'INR', 'ug', 'L/min', 'mL', 'Celsius',
       'L/min/m2', 'Unit', 'ug/kg/min', 'mg', '/min', 'cmH2O', 'ug/mL',
       'ng/mL', 'mV', 'mL/m2', '0/1'], dtype=object)

In [144]:
unit_codes = ['g/dL', '[iU]/L', 's', 'mmol/L', 'mg/dL', 'ug/L', 'mg/L', '%',
       'mm[Hg]', np.nan, '/nL', 'INR', 'ug', 'L/min', 'mL', 'Cel',
       'L/min/m2', '[U]', 'ug/kg/min', 'mg', '/min', 'cm[H2O]', 'ug/mL',
       'ng/mL', 'mV', 'ml/m2', '0/1']

In [145]:
unit_ids = []
for i in unit_codes:
    row = df_concept.loc[df_concept['concept_code']==i]
    unit_ids.append(row['concept_id'].values[0] if not len(row) ==0 else None)

In [ ]:
df_units = pd.DataFrame({'Unit': units, 'unit_concept_id': unit_ids})

df_params = df_params.merge(df_units, on='Unit', how='left')
df_params.to_csv('inspire_v2/mapped/parameters_mapped.csv', index=False)

In [113]:
df_concept_rel[df_concept_rel['concept_id_1'] == 8713]

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
15886146,8713,8713,Mapped from,19700101,20991231,NaN
15886147,8713,8713,Maps to,19700101,20991231,NaN
15886148,8713,35814191,Unit mapped from,20201221,20991231,NaN
35064424,8713,4121395,Mapped from,20220605,20991231,NaN
41977341,8713,35814211,Unit mapped from,20201221,20991231,NaN

In [117]:
df_concept[df_concept['concept_code'] == 'g/dL']

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
8669654,8713,gram per deciliter,Unit,UCUM,Unit,S,g/dL,19700101,20991231,NaN

In [123]:
df_params[df_params['Unit']=='0/1']

,Table,Label,Unit,Description,concept_name,concept_id,vocab
110,ward_vitals,crrt,0/1,Use of hemodialysis or continuous renal replac...,Continuous renal replacement therapy panel,1989465,LOINC
111,ward_vitals,ecmo,0/1,Use of extracorporeal membrane oxygenator,Extracorporeal life support (ECLS)/Extracorpor...,21498858,LOINC
113,ward_vitals,iabp,0/1,Existence of any parameter related to use of I...,Intra-aortic balloon pump (IABP),36309243,LOINC
119,ward_vitals,vent,0/1,Use of mechanical ventilation,Respiratory assistance with manual or mechanic...,36308817,LOINC

In [149]:
df_op

,op_id,subject_id,hadm_id,case_id,opdate,age,sex,weight,height,race,...,anstart_time,anend_time,cpbon_time,cpboff_time,icuin_time,icuout_time,inhosp_death_time,source_value,source_concept_id,standard_concept_id
0,484069807,178742874,229842382,NaN,0,30,F,48.0,153.0,Asian,...,1120.0,1235.0,NaN,NaN,NaN,NaN,NaN,09B70,2848413.0,2848413.0
1,446270725,158995752,257857903,NaN,0,70,M,43.0,169.0,Asian,...,1345.0,1540.0,NaN,NaN,1550.0,19595.0,69860.0,0WJG0,2806677.0,2806677.0
2,406892271,108553242,200664328,NaN,61920,50,F,69.0,165.0,Asian,...,62170.0,62370.0,NaN,NaN,NaN,NaN,NaN,0DHS0,NaN,NaN
3,478413008,133278262,277235295,NaN,0,35,F,54.0,NaN,Asian,...,215.0,340.0,NaN,NaN,NaN,NaN,NaN,10D00,2872134.0,2872134.0
4,468516791,116924034,299190423,NaN,17280,45,F,47.0,152.0,Asian,...,17950.0,18070.0,NaN,NaN,NaN,NaN,NaN,0JQC0,2855598.0,2855598.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131104,449124488,138484174,228449654,NaN,4999680,50,F,58.0,162.0,Asian,...,5000390.0,5000570.0,NaN,NaN,NaN,NaN,NaN,0DNE0,2825751.0,2825751.0
131105,461252752,126772283,273139806,NaN,2880,70,F,53.0,162.0,Asian,...,3355.0,3430.0,NaN,NaN,NaN,NaN,NaN,0HBU0,2816908.0,2816908.0
131106,471834474,144363433,275833861,NaN,2880,65,F,51.0,152.0,Asian,...,3595.0,3670.0,NaN,NaN,NaN,NaN,NaN,0HBT0,2812415.0,2812415.0
131107,419787421,195835964,293939099,NaN,12960,85,M,74.0,171.0,Asian,...,13780.0,13950.0,NaN,NaN,13955.0,15120.0,NaN,0DB64,2812715.0,2812715.0
131108,493136728,148443464,280269654,NaN,2880,70,M,78.0,182.0,Asian,...,3360.0,3430.0,NaN,NaN,NaN,NaN,NaN,0FT44,2816397.0,2816397.0